
a{
  text-decoration: none;
}
button{
  font-family: 'Roboto Condensed', Helvetica, sans-serif;
  margin: 30px auto 14px auto;
  padding: 6px 30px;
  font-size: 24px;
  border-radius: 24px;
  background-image: linear-gradient(to bottom right, rgb(74, 183, 255), rgb(197, 146, 255));
  border: 2px solid white;
  color: white;
}
button:hover{
  cursor: pointer;
  border: 2px solid white;
  box-shadow: 0px 4px 10px rgb(65, 65, 65);
  transition: 0.3s;
}
.App {
  text-align: center;
  font-family:'Roboto', sans-serif;
  font-size: 20px;
  min-height: 100vh;
}

.App-logo {
  max-height: 80px;
  pointer-events: none;
  display: flex;
  margin: 4px 4px;
}

.App-header, .App-footer {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
  color: white;
  width: 100%;
  height: auto;
  background-image: linear-gradient(to bottom right, rgb(74, 183, 255), rgb(197, 146, 255));
}
.App-footer{
  background-image: none;
  display: flex; 
  justify-content: center;
  font-size: 12px;
  padding: 10px;
  height: 100%;
  margin: 0 auto;
  color: grey;
}
.main{
  background-color: white;
  margin: 0 auto;
}
.hero{
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.header-link{
  text-decoration: none;
  color:white;
  margin: 0 20px;
}
.header-link:hover{
  text-shadow: 0px 1px 9px white;
  font-weight: 600;
}
.non-home-links{
  margin: 0 10px;
}
.collection{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}
.modal-content{
  margin: 10% auto; /* 10% from the top and centered */
  padding: 10px;
  width: 60%; /* depending on screen size */
  display: flex;
  flex-direction: column;
}
.video iframe{
  margin: 0 auto;
}
.close {
  color: red;
  float: right;
  font-weight: bold;
  margin: 20px;
}
.close:hover,
.close:focus {
  color: rgb(51, 59, 181);
  text-shadow: 1px 4px 10px rgb(65, 65, 65);
  text-decoration: none;
  cursor: pointer;
}