
a{
  text-decoration: none;
}
.App {
  text-align: center;
  font-family:'Roboto', sans-serif;
  font-size: 20px;
}

.App-logo {
  max-height: 80px;
  pointer-events: none;
  display: flex;
  margin: 4px 4px;
}

.App-header, .App-footer {
  background-image: linear-gradient(to top right, #87CBF8, rgb(154, 178, 255), rgb(188, 154, 255));
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
  color: white;
  width: 100%;
  height: auto;
}
.App-footer{
  display: flex;
  flex-grow:2;
  flex-shrink: 2;
  justify-content: center;
  font-size: 12px;
  min-height: 50px;
}
.hero{
  width: 100%;
  height: auto;
}
.header-link{
  text-decoration: none;
  color:white;
  margin: 0 20px;
}
.header-link:hover{
  color:grey;
}
.non-home-links{
  margin: 0 10px;
}